{% extends 'transport/layout.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block body %}
    <h1>
        Admin Dashboard
    </h1>
    <p>
        Welcome, {{ user.username }}
    </p>
    <p>
        You are logged in as an Admin.
    </p>

    <h2>
        System Overview
    </h2>
    <ul>
        <li>
            Total Students: {{ total_students }}
        </li>
        <li>
            Total Parents: {{ total_parents }}
        </li>
        <li>
            Total Assistants: {{ total_assistants }}
        </li>
        <li>
            Total Buses: {{ total_buses }}
        </li>
    </ul>
{% endblock %}
